.filter-container {
  width: 90%;
  max-width: 78rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px -1px 14px 0px rgba(0, 0, 0, 0.75);
  top: -5.5rem;
  box-sizing: border-box;
  position: absolute;
  padding: 2rem;
}

.filter-container__keytag {
  display: flex;
  overflow-x: auto;
}

.filter-container__keytag-item {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.filter-container__keytag-item h3 {
  margin-right: 2rem;
}

.filter-container__button {
  width: 15rem;
  height: 3rem;
  font-size: 1.5rem;
  margin-left: 3rem;
}
